<table>
  <th>Prescription</th>
  <tr>
    <td>ID</td>
    <td>{{pres.prescription_id}}</td>
  </tr>
  <tr>
    <td>Patient ID</td>
    <td>{{pres.patient_id}}</td>
  </tr>
  <tr>
    <td>Doctor ID</td>
    <td>{{pres.doctor_id}}</td>
  </tr>
  <tr>
    <td>Timestamp</td>
    <td>{{pres.timestamp}}</td>
  </tr>
  <tr>
    <td>Medicines</td>
    <td>
      <ul>
        {% for item in pres.medicines %}
        <li>{{ item }}</li>
        {% endfor %}
      </ul>
    </td>
  </tr>
  <tr>
    <td>Diagnosis</td>
    <td>
      <ul>
        {% for item in pres.diagnosis %}
        <li>{{ item }}</li>
        {% endfor %}
      </ul>
    </td>
  </tr>
  tr>
    <td>Reports</td>
    <td>
      <ul>
        {% for item in pres.reports %}
        <li>{{ item }}</li>
        {% endfor %}
      </ul>
    </td>
  </tr>

</table>
